.about-container{
    //background: url('../../../public/images/back-eng.jpg') center center/cover no-repeat;
    //background-attachment:  fixed;
    background-color: rgb(133, 0, 110);
    min-height: 100vh;
    height: flex;
    width: 100%;
    display: flex;
    //flex-direction: column;
    //filter: saturate(0%);
    
    align-items: center;
    justify-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.cards-container {
    display: flex;
    width: flex;
    //background-color: black;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap; /* Allow the cards to wrap to the next line if they don't fit */
}

.info-card1, .info-card2, .info-card3, .info-card4 {
    display: flex;
    background-color: #1754a5;
    width: 400px;
    height: 600px;
    margin: 20px;
    border-radius: 20px;
    border-width: 4px;
    border-color: #462727;
    border-style:solid;
    //text-align: center;
    flex-flow: column;
    padding: calc(10px + 0.3vw);
}

.info-card2 {
    background-color: #198032;
    background: url('../../../public/images/funfun.jpg') center center/cover no-repeat;
    filter: saturate(0%);
}

.info-card3 {
    background-color: #729620;
}

.info-card4 {
    background-color: #a06828;
}

.header-container{
    width: 100%;
    text-align: center;
}

.about-header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: calc(25px + 0.3vw);
    font-weight: 600;
    line-height: 1.5;
    
    text-decoration: inherit;
}
.about-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: calc(18px + 0.3vw);
    font-weight: 600;
    line-height: 1.5;
    margin-top: 5%;
    
    text-decoration: inherit;
}

@media screen and (max-width: 1700px) {

    .info-card1, .info-card2, .info-card3, .info-card4 {
        width: 350px;
        height: 500px;
    }

    .info-card1{
        margin-top: 100px;
    }
    
}

