.about-container{
    //background: url('../../../public/images/back-eng.jpg') center center/cover no-repeat;
    //background-attachment:  fixed;
    background-color: rgb(133, 0, 110);
    min-height: 100vh;
    height: flex;
    width: 100%;
    display: flex;
    //flex-direction: column;
    //filter: saturate(0%);
    
    align-items: center;
    justify-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.cards-container{
    display: flex;
    //height: flex;
    width: 90%;
    background-color: black;
    padding: calc(10px + 0.6vw);
    align-content: center;
    //justify-content: center;
    flex-direction: row;
}

.info-card1, .info-card2, .info-card3, .info-card4 {
    display: flex;
    
    background-color: #1754a5;
    width: 400px;
    height: 600px;
    margin: 10px; /* Add margin between the cards */
}

.info-card2 {
    background-color: #198032;
}

.info-card3 {
    background-color: #729620;
}

.info-card4 {
    background-color: #a06828;
}

.abouttext{
    font-family: "Old Standard TT";
    color: #ffffff;
    font-size: calc(10px + 0.6vw);
    font-weight: 600;
    line-height: 1.5;
    
    text-decoration: inherit;
}

