.services-container{
    //background: url('../../../public/images/back-eng.jpg') center center/cover no-repeat;
    //background-attachment:  fixed;
    background-color: black;
    height: calc(350px + 20vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    filter: saturate(0%);
    
    align-items: center;
    justify-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

